

{% extends 'reactcatcompany/base.html' %}

{% load static %}


{% block title  %}
ReactCat Training
{% endblock  %}


{% block content %}






  


<br><br>
<br><br>


<!-- Kris Info Section-->
<section class="container section">
    
      <div class="row">
        <div class="col s12 l3 ">
          
            <img width="140" src="{% static 'img/site/kriscircle.png'%}" alt=""
            class="responsive-img"> 
        
        </div>
        <div class="col s12 l6 ">
           
             <h5 class="indigo-text">Kris Bernachi</h5>

             <p>Canadian with permanent resident status in Japan and 
                business level Japanese communication skills.  </p>
              
             <p>Experience working at multinational corporations such as 
                 Oracle, Panasonic and Royal Sun Insurance.</p>

            <p>Python programming and Oracle database certification.
                    </p>
               
       
          </div>
      
      
  
    </div>
  
  </section>


<br><br>



<!-- Company Info Section-->
<section class="container section">
  
    <div class="row">
      <div class="col s12 m8 ">
        <div class="white black-text ">


       
          
         
          <p></p>
           

        </div>
        <ul class="collection with-header">
            <li class="collection-header"><h5>Company Name: ReactCat Training</h5></li>
            <li class="collection-item">
              Business Type:   Sole Proprietroship </li>
              <li class="collection-item">
                Founder/CTO:   Kris Bernachi </li>
                <li class="collection-item">
                    Main Course Trainer:   Kris Bernachi </li>
            <li class="collection-item">Location:   Setagayaku, Tokyo, Japan</li>
            <li class="collection-item">Contact:  reactcatkris@gmail.com</li>
            
           
          </ul>
          
      </div>

    </div>
    


     
        
    </div>
</div>
      </div>
    </div>
    

  </div>

</section>

<br><br>
<br><br> 

<!-- Contact End-->

<div class="container">
  <div class="row">
    
    <div class="col s12 m8 ">

 

  
</div>
</div>
</div>





{% endblock  %}